.card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-direction: row;
    border: 1px solid;
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
  }
  
  .who-component-image {
    width: 30rem;
    height: 40rem;
  }
  
  .footerbutton {
    position: absolute;
    left: 45%;
  }
  
  .card-content, .media-content {
    text-align: center;
  }