.header-title{
  font-family: source-code-pro,monospace;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 50px;
  text-align: left;
}

.header-subtitle{
  font-family: source-code-pro,monospace;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 25px;
  text-align: left;
}

.header-title-second{
  font-family: source-code-pro,monospace;
  font-weight: 700;
  font-style: normal;
  color: black;
  font-size: 50px;
  text-align: center;
}

.header-subtitle-second{
  font-family: source-code-pro,monospace;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 28px;
  text-align: center;
}

.footer-subtitle{
  font-family: source-code-pro,monospace;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 10px;
  text-align: left;
}