.header-title{
  font-family: source-code-pro,monospace;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 50px;
  text-align: left;
}

.header-subtitle{
  font-family: source-code-pro,monospace;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 25px;
  text-align: left;
}

.header-title-second{
  font-family: source-code-pro,monospace;
  font-weight: 700;
  font-style: normal;
  color: black;
  font-size: 50px;
  text-align: center;
}

.header-subtitle-second{
  font-family: source-code-pro,monospace;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 28px;
  text-align: center;
}

.footer-subtitle{
  font-family: source-code-pro,monospace;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 10px;
  text-align: left;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: row;
  border: 1px solid;
  box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
}

.who-component-image {
  width: 30rem;
  height: 40rem;
}

.footerbutton {
  position: absolute;
  left: 45%;
}

.card-content, .media-content {
  text-align: center;
}